/*Top half elements */

body {
  font-family: 'font-family: 'Georgia', Times, Times New Roman, serif; 
  background-color: white;
  padding: 0;
  margin: 0;
}

#wrapper {
  max-width: 960px;
  height: 500px;
  margin: 0 auto;
  background-color: #20B2AA;
  padding: 32px;
}

header {
  background-color: #4aaaa5
  height: 100px;
  padding: 4px;
}

header h1 {
  position: fixed;
  top: -2px;
  left: 192px;
  text-transform: uppercase;
  text-align: left;
  /*background: #4aaaa5;*/
  color: white;
  line-height: 50px;
/*  border: solid lightgrey;
*/ padding: 3px;
}

.main_menu {
  padding: 5px 0 5px 0;
  text-align: center;
  line-height: 32px;
  background-color: #d9d9d9;
}

ul.main_menu {
  margin-top: 19px;
  width: 930px;
  margin-left: 30px;
}

.main_menu li {
  display: inline;
  padding: 0 10px 0 10px;
  font-size: 16px;
  margin-top: -30px;
  float: right;
  margin-left: 30px;
  text-align: right;
}

/* About, Portfolio and Contact link */
.main_menu a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 4px;
  width: 270px;
  font-variant: small-caps;
}

.main_menu a:hover {
  color: black;
}

/*Content of the page with paragraphs */

.content {
  width: 960px;
  margin: 0 auto;
}

#maindiv::after {
  content: "";
  display: block;
  clear: both;
}

.contact{
  overflow: auto;
}

#about {
  float: right;
  border: 3px solid black;
  background-color: #fff;
  margin-bottom: 40px;
  width: 610px;
  padding: 20px;
  overflow: auto;
  display: inline;
}

.img1 {
  float: left;
  margin: 10px 10px 10px 10px;
  height: auto;
}

h2 {
  margin: 10px 10px 10px 10px;
  color: #4aaaa5;
  text-transform: uppercase;
  height: 50px;
  margin-left: 3px;
}

/*#paragraph {

}*/

/*Connect with me */

h3 {
  text-align: center;
  color: #4aaaa5;
}

section {
  float: left;
  margin: 15px 3%;
  width: 62%;
  border: 3px solid white;
  background-color: lightgrey;
}

aside {
  background-color: lightgrey;
  float: right;
  width: 270px;
  padding: 10px;
  margin-top: 15px;
  border: 3px solid white;
}

#messagebox {
  width: 306px;
}

.icons {
  width: 30%;
  resize: both;
}

/*portfolio container*/

.container {
  overflow: auto;
}
.portal_fusion {
  float: left;
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: 0px;
  margin: 0 5px 0 5px;
  opacity: 1;
}

.portal,
.widgets {
  position: relative;
  float: left;
  width: 150px;
  height: 130px;
  margin: 1px;
  opacity: 0.9;
}

.portal {
  background-color: white;
  padding: 2px;
}

.portal h4{
  color: 2px black bold;
  text-align: center;
  margin-left: 2px;
  text-align: center;
}

.portal_fusion:hover {
color: white;
opacity: 3;
}


/* Footer */
#footer {
  position: fixed;
  text-align: center;
  width: 78.3%;
  bottom: 0;
  background: lightgrey;
  color: white;
  padding: 11px;
  border: 14px 6px 6px 20px;
  border-top: 5px solid darkgrey;
  margin-left: 128px;
}