/*Top half elements */

body {
  font-family: 'font-family: 'Georgia', Times, Times New Roman, serif;
  background-color: white;
  padding: 0;
  margin: 0;
}

#wrapper {
  max-width: 960px;
  height: 500px;
  margin: 0 auto;
  background-color: #d9d9d9;
  padding: 32px;
}

header {
  background-color: #4aaaa5
  height: 100px;
  padding: 4px;
}

header h1 {
  position: fixed;
  top: -14px;
  left: 175px;
  text-transform: uppercase;
  text-align: left;
  background: #4aaaa5;
  color: white;
  line-height: 50px;
  border: solid lightgrey;
  padding-right: 50px;
}

.main_menu {
  padding: 5px 0 5px 0;
  text-align: center;
  line-height: 32px;
  background-color: #d9d9d9;
}

ul.main_menu {
  margin-top: 15px;
}

.main_menu li {
  display: inline;
  padding: 0 10px 0 10px;
  font-size: 16px;
  margin-top: -30px;
  float: right;
  margin-left: 30px;
  text-align: center;
}

.main_menu a {
  text-decoration: none;
  color: #4aaaa5;
  font-size: 16px;
  padding: 8px;
  font-variant: small-caps;
}

.main_menu a:hover {
  color: red;
}

.nav:hover {
  color: red;
}
/*Content of the page with paragraphs */

.content {
  width: 960px;
  margin: 0 auto;
}

#maindiv::after {
  content: "";
  display: block;
  clear: both;
}

#about {
  float: right;
  border: 3px solid black;
  background-color: #fff;
  margin-bottom: 40px;
  width: 610px;
  padding: 20px;
  overflow: auto;
  display: inline;
}

.img1 {
  float: left;
  margin: 10px 10px 10px 10px;
  height: auto;
}

h2 {
  margin: 10px 10px 10px 10px;
  color: #4aaaa5;
  text-transform: uppercase;
  height: 50px;
}

#paragraph {

}

/*Connect with me */

section {
  float: left;
  margin: 0 1.5%;
  width: 63%;
  border: 1px solid white;
}

aside {
  background-color: #ffffff;
  float: right;
  width: 270px;
  padding: 10px;
  width: 30%;
}















/* Footer */
#footer {
  position: fixed;
  width: 960px;
  bottom: 0;
  background: darkgrey;
  color: white;
  padding: 20px;
  text-align: center
  border: 8 0 0 0;
  border-top: 5px solid #4aaaa5;
  margin-left: -35px;
}





